* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-color: #000; 
    color: white;
}

#bg-pic {
    width: 100%;
    height: 100vh;
    background-image: url(../img/riri2.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 200% 40%;
}

@media (max-width: 768px) {
    .header_text h1 {
        font-size: 40px;
    }
}

.header {
    height: 100px;
    width: 100%;
    background-color: rgb(15, 50, 56);
    position: fixed;
}

.container {
    padding: 30px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 30px 5%;
}

.logo {
    font-size: 50px;
    padding-right: 40%;
}

.logo span {
    color: rgb(0, 238, 255);
    font-family: sans-serif;
}



nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px; 
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: rgb(0, 238, 255);
}


.header_text {
    margin-top: 12%;
}

.header_text h1 {
    font-size: 60px;
    margin-top: 16%;
}

.header_text p {
    font-size: 35px;
}
h1 span{
     color: rgb(0, 238, 255); 
}

.resume {
    position: static;
    margin-top: 15%;
    margin-left: 15%;
}

.resume a {
    font-size: 20px;
    letter-spacing: 4px;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 35px;
    margin: 3px;
    padding: 9px 20px;
}

.resume a:hover {
    font-size: 20px;
    letter-spacing: 4px;
    text-decoration: none;
    color: rgb(0, 238, 255);
    border: 1px solid rgb(0, 238, 255);
    border-radius: 35px;
}

#about {
    padding: 80px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-colom1 img {
    height: 350px;
    width: 300px;
    border-radius: 10px;
}

.about-colom1 {
    flex-basis: 30%;
}

.about-colom2 {
    flex-basis: 70%;
}

.sub-title {
    font-size: 40px;
}

#contact {
    margin-top: 10%;
}

.sub-title2 {
    font-size: 50px;
    margin-bottom: 3%;
    text-align: center;
}

.sub-text {
    font-size: 20px;
    margin-bottom: 5%;
}

.national-certi {
    height: 150px;
    width: 320px;
    background-color: rgb(72, 72, 75);
    border-radius: 3%;
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    padding: 10px;
}

.school-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img1 {
    height: 230px;
    width: 230px;
}

.img2 {
    height: 230px;
    width: 230px;
}

.img-saa {
    width: 350px;
    height: 400px;
    border-radius: 4%;
    text-align: center;
}

.img-lyceum {
    width: 400px;
    height: 400px;
    border-radius: 4%;
    text-align: center;
}

.img-cite {
    width: 400px;
    height: 400px;
    border-radius: 4%;
    text-align: center;
}

.sub-title3 {
    font-size: 40px;
    text-align: center;
}


#accomp .container{
    padding: 80px 0;
   
    
}

.view {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.view a {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 4px;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 35px;
    margin: 3px;
    padding: 9px 20px;
}

.view a:hover {
    font-size: 20px;
    letter-spacing: 4px;
    text-decoration: none;
    color: rgb(0, 238, 255);
    border: 1px solid rgb(0, 238, 255);
    border-radius: 35px;
}


.container .sub-title3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.container h4 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.container .img-certif1,
.container .img-certfi2,
.container .img-certfi3,
.container .img-certfi4 {
    display: inline-block;
    
    vertical-align: top;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.container .img-certif1 img,
.container .img-certfi2 img,
.container .img-certfi3 img,
.container .img-certfi4 img {
    max-width: 300px;
    border-radius: 8px;
}

.container .img-certif1:hover,
.container .img-certfi2:hover,
.container .img-certfi3:hover,
.container .img-certfi4:hover {
    transform: scale(1.1);
}



.linked a {
    color: white;
    text-decoration: none;
}

.social-icons {
    display: block;
    margin-top: 10px;
    margin-right: 92%;
}

.fb-icon,
.ig-icon,
.twit-icon {
    height: 25px;
    width: 25px;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease;
}


@media only screen and (min-width: 1024px) {
